.staff-table {
    margin: 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
}

td{
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

button{
    padding: 6px 20px;
    margin-right: 5px;
    background-color: chartreuse;
    color:#fff ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: chartreuse;
}

.btn-add {
    text-align: right;
    margin-bottom: 10px;
}

.add-staff-btn{
    color: orangered;
    background-color: transparent;
    border: 2px solid orangered;
    padding: 10px 20px;
    font-size: 16px;
    font-weight:bold ;
    text-decoration: none;
    cursor: pointer;
    transition: .3s all linear;
}

.add-staff-btn:hover {
    background-color: orangered;
    color:#fff ;
}
img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}